*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}
body{
    height : 100vh;
    width: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    background: linear-gradient(45deg, rgb(0, 0, 0)  , rgb(55, 55, 55))
}

.calculator{
    border: 1px solid black;
    padding : 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px;


}

input
{
    background: transparent;
    border: none;
    width: 320px;
    margin: 10px;
    font-size: 35px;
    text-align: right;
    padding: 24px;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder{
    color: #ffffff;
}

button{
    width:60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px;
    border: none;
    background: transparent;
    color: white;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
    cursor: pointer;

}

button:hover{
    color: bisque;
}
.equal{
    background-color: rgb(240, 101, 51);
}

.operator
{
    color: rgb(70, 154, 70);

}

